{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-header">
  <h1>Release Finch?</h1>
  <img src="{% static 'images/byellow.png' %}" alt="A finch"/>
</div>
<h2>Are you sure you want to set {{finch.name}} free?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'finch-detail' finch.id %}" 
    class="btn secondary"
  >
    Cancel
  </a>
  <button type="submit" class="btn danger">Release {{finch.name}}!</button>
</form>

{% endblock %}