{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/toys/toy-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Finch Toys</h1>
  <img src="{% static 'images/birdtoy.png' %}" alt="A ball with holes" />
  <img src="{% static 'images/bamboman.png' %}" alt="A bamboman toy" />
  <img src="{% static 'images/pinneaple-toy.png' %}" alt="A pinneaple toy" />
  <img src="{% static 'images/sunflower-toy.png' %}" alt="A sunflowers toy" />
</section>

<section class="card-container">
  {% for toy in toy_list %}
  <div class="card" style="border-color: {{ toy.color }}">
    <div class="card-bg" style="background-color: {{ toy.color }}"></div>
    <a href="{% url 'toy-detail' toy.id %}">
      <div class="card-content">
        <h2>{{ toy.name }}</h2>
        <p>A {{ toy.color }} toy</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}