{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/reddie.png' %}"
  >
  <title>Finch Collector</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="{% url 'home' %}">
        <img 
        height ="70px" 
        width="160px"
        src="{% static 'images/header-logo.png' %}"
        alt="The Finch Collector Logo"
        > 
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="{% url 'finch-index' %}">All Finches</a></li>
        <li><a href="{% url 'toy-index' %}">All Toys</a></li>
        <li><a href="{% url 'finch-create' %}">Add a Finch</a></li>
        <li><a href="{% url 'toy-create' %}">Add a Toy</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>