{% extends 'base.html' %}
{% load static %}

{% block head %}

<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>

<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/finches/finch-detail.css' %}"
/>

<script defer src="{% static 'js/finch-detail.js' %}"></script>

{% endblock %}

{% block content %}

<section class="finch-container">
  <div class="finch-img">
    <img 
    width="250px"
      src="{% static 'images/purpl.png' %}" 
      alt="A red bird"
    >
  </div>
  <div class="finch-details">
    <h1>{{ finch.name }}</h1>
    {% if finch.age > 0 %}
      <h2>A {{ finch.age }} year old {{ finch.breed }}</h2>
    {% else %}
      <h2>A {{ finch.breed }} finch.</h2>
    {% endif %}
    <p>{{ finch.description }}</p>
    {% comment %} New markup for details {% endcomment %}
    <div class="finch-actions">
      <a href="{% url 'finch-update' finch.id %}" class="btn warn">Edit</a>
      <a href="{% url 'finch-delete' finch.id %}" class="btn danger">Delete</a>
    </div>
    {% comment %} New markup above {% endcomment %}
  </div>
</section>
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img 
        src="{% static 'images/seed.png' %}" 
        alt="seeds for finch "
      />
      <img 
        src="{% static 'images/food.png' %}"
        alt="A  finch with  food"
      />
      <img 
        src="{% static 'images/finch.png' %}" 
        alt="finch with grass"
      />
    </div>

  <h3>Add a Feeding</h3>
  <form
    method="post" 
    action="{% url 'add-feeding' finch.id %}" 
    class="subsection-content"
    autocomplete="off"
  >
    {% csrf_token %}
    {{ feeding_form.as_p }}
    <button type="submit" class="btn submit">Add Feeding</button>
  </form>

  <h3>Past Feedings</h3>
    <table>
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in finch.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}